@import url('./minimal-normalize.css');

body {
  background-color: white;
}

.Paragraph {
  color: gray;
  transition: color 1s ease-in;
}

.Paragraph.is-visible {
  color: black;
}

.Paragraph h2 {
  font-size: 3rem;
  padding: 15px 30px;
}

.Paragraph p {
  font-size: 2rem;
  padding: 15px 30px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.HeaderImg {
  max-width: 300px;
}
